{% extends "base.html" %}


  {% block title %} About {% endblock %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/About_Page.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, my name is ... and I like to code. This is an building block to my goal of becoming a software engineer. I hope as we all to revolutionize technology to help humanity reach a better tomorrow.</p>
        <p> It is in human nature to aid the ones in need. However, as we reach a better society (granted the world isn't perfect), we must turn our attention towards the heavens and beyond. <i>Who are we, what are we? </i></p>
        <h4> A better yet slighty worse explanation </h4>
        <p>"This is a present from a small distant world, a token of our sounds, our science, our images, our music, our thoughts, and our feelings. We are attempting to survive our time so we may live into yours. We hope someday, having solved the problems we face, to join a community of galactic civilizations. This record represents our hope and our determination, and our good will in a vast and awesome universe” ~ Jimmy Carter </p>
      </div>
    </div>
  </div>

  <hr>


{% endblock %}

</body>

</html>
