{% extends "base.html" %} 
{% comment %}

    # Code adapted from StartBootstrap sb-clean-blog-angular | this is for base template (MIT LICENSE)
    # https://github.com/startbootstrap/sb-clean-blog-angular

{% endcomment %}

{% block title %} Contact {% endblock %} {% block
content %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('static/img/Contact_Page.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<center>
  <h4>Contact Me On <a href="https://github.com/htmldev30">GitHub</a></h4>
</center>

{% endblock %}
