{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}

<header
  class="masthead"
  style="background-image: url('static/img/Home_Img.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog Mayhem!</h1>
          <span class="subheading">Create Update or Delete any blog!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<center>
  <h4>
    <a href="{{url_for('admin')}}">
      {% if not posts %} No posts yet :( {% endif %}</a
    >
  </h4>
</center>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for i in posts %}
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <h2 class="section-heading">{{ i.header }}</h2>
              <h4>{{i.subtitles}}</h4>
              <p>{{i.content}}</p>
            </div>
            <div class="dropdown">
              <button
                class="btn btn-default dropdown-toggle"
                type="button"
                data-toggle="dropdown"
              >
                Info <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a> Posted at {{i.time_created}} </a></li>
                <li>
                  <a> Category: <i>{{i.category}}</i></a>
                </li>
                <li>
                  {% if i.updated %}<small><i>This post was updated</i></small
                  >{% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <hr />

      {% endfor %}
    </div>
  </div>
</div>

<hr />

{%endblock%}
