{% comment %}

    # Code adapted from StartBootstrap sb-clean-blog-angular | this is for base template (MIT LICENSE)
    # https://github.com/startbootstrap/sb-clean-blog-angular

{% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{%block title%} {%endblock%}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- For Blog Files-->
    <link
      href="{{ url_for('static', filename='css/clean-blog.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/clean-blog.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='scss/_bootstrap-overrides.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/clean-blog.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_contact.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_footer.scss') }}"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='scss/_global.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_masthead.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_mixins.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_navbar.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_post.scss') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='scss/_variables.scss') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">Blog Mayhem</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('post') }}">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <hr />

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">
              The user interface of the website was helped developed by Start
              Bootstrap - Clean Blog Jekyll - Official Jekyll Version
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--  For Blog JS Files -->

    <link href="{{ url_for('static', filename='js/clean-blog.js') }}" />
    <link href="{{ url_for('static', filename='js/clean-blog.min.js') }}" />
    <link href="{{ url_for('static', filename='js/contact_me.js') }}" />
    <link
      href="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NEMM0RDNJ6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NEMM0RDNJ6");
    </script>
    <!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
    <script
      type="text/javascript"
      src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js"
      charset="UTF-8"
    ></script>
    <script type="text/javascript" charset="UTF-8">
      document.addEventListener("DOMContentLoaded", function () {
        cookieconsent.run({
          notice_banner_type: "simple",
          consent_type: "implied",
          palette: "light",
          language: "en",
          page_load_consent_levels: [
            "strictly-necessary",
            "functionality",
            "tracking",
            "targeting",
          ],
          notice_banner_reject_button_hide: false,
          preferences_center_close_button_hide: false,
          page_refresh_confirmation_buttons: false,
          website_name: "Blog Mayhem",
          website_privacy_policy_url:
            "https://blog-mayhem.herokuapp.com/privacy-policy",
        });
      });
    </script>

    <!-- Google Analytics -->
    <script
      type="text/plain"
      cookie-consent="tracking"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NEMM0RDNJ6"
    ></script>
    <script type="text/plain" cookie-consent="tracking">
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NEMM0RDNJ6');
    </script>
    <!-- end of Google Analytics-->

    <noscript
      >Cookie Consent by
      <a href="https://www.freeprivacypolicy.com/" rel="nofollow noopener"
        >Free Privacy Policy Generator website</a
      ></noscript
    >
    <script>
      // THIS PIECE OF CODE IS FROM Chris HG - https://stackoverflow.com/users/1916816/chris-hg
      var createCookie = function (name, value, days) {
        var expires;
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toGMTString();
        } else {
          expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      };

      function getCookie(c_name) {
        if (document.cookie.length > 0) {
          c_start = document.cookie.indexOf(c_name + "=");
          if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
              c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
          }
        }
        return "";
      }
      function TOS() {
        var cookieName = "hasVisitedBefore";
        var cookie = getCookie(cookieName);
        if (!cookie) {
          alert(
            "By visiting this page, you agree to its Terms of Service. You may visit the Terms of Service at - https://blog-mayhem.herokuapp.com/terms-of-service"
          );
          createCookie(cookieName, true, 3650);
        }
      }
      TOS();
    </script>
    <!-- End Cookie Consent -->
  </body>
</html>
